body {
    font-family: Arial;
    background-color: #e7d80e;
    text-align: left;
}

.container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 50px;
    box-shadow: 0 0 30px gray;
    
    
}

button {
    padding: 8px 12px;
    margin: 5px;
    background-color: #ff0000;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #00eeff;
}

input {
    padding: 10px;
       width: 250px;
}